name: Odoo.sh Deploy
on: [push]
jobs:
  Odoo-SH-Update-All:
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name }}
    steps:
#      - name: Update All
#        uses: halgandd/odoo-sh-update-all@6e0b22fe09a19ab50801665cde16255c34215dae
#        env:
#          INSTANCE_NAME: '${{secrets.ODOOSH_INSTANCE_NAME}}'
#          PRIVATE_KEY: '${{secrets.SSH_PRIVATE_KEY}}'
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Odoo Shell Init
        uses: halgandd/odoo-sh-shell@cf8ea1addd591cde7e9e905933be7a9d95cdf8dd
        with:
          script: odoo_init.py
        env:
          INSTANCE_NAME: '${{secrets.ODOOSH_INSTANCE_NAME}}'
          PRIVATE_KEY: '${{secrets.SSH_PRIVATE_KEY}}'

#  Odoo-SH-Init:
##    needs: Odoo-SH-Update-All
#    runs-on: ubuntu-latest
#    environment: ${{ github.ref_name }}
#    steps:
#      - uses: actions/checkout@v3
#        with:
#          fetch-depth: 1
#      - run: echo '${{ secrets.ODOOSH_INSTANCE_NAME }}'
#      - run: mkdir -p ~/.ssh
#      - run: ssh-keyscan -H ${{ secrets.ODOOSH_INSTANCE_NAME }}.dev.odoo.com >> ~/.ssh/known_hosts
#      - run: echo "${{ secrets.SSH_PRIVATE_KEY }}" >> ~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa
#      - run: echo "${{ secrets.SSH_PUBLIC_KEY }}" >> ~/.ssh/id_rsa.pub && chmod 600 ~/.ssh/id_rsa.pub
#      - run: scp /home/runner/work/test_ci_odoo_sh/test_ci_odoo_sh/.github/odoo_init.py ${{ secrets.ODOOSH_INSTANCE_ID }}@${{ secrets.ODOOSH_INSTANCE_NAME }}.dev.odoo.com:/tmp/odoo_init.py
#      - run: ssh ${{ secrets.ODOOSH_INSTANCE_ID }}@${{ secrets.ODOOSH_INSTANCE_NAME }}.dev.odoo.com 'cat /tmp/odoo_init.py | odoo-bin shell --no-http'

#  Odoo-SH-Install-Modules:
#    needs: Odoo-SH-Init
#    runs-on: ubuntu-latest
#    environment: ${{ github.ref_name }}
#    steps:
#      - uses: actions/checkout@v3
#        with:
#          fetch-depth: 1
#      - run: echo '${{ secrets.ODOOSH_INSTANCE_NAME }}'
#      - run: mkdir -p ~/.ssh
#      - run: ssh-keyscan -H ${{ secrets.ODOOSH_INSTANCE_NAME }}.dev.odoo.com >> ~/.ssh/known_hosts
#      - run: echo "${{ secrets.SSH_PRIVATE_KEY }}" >> ~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa
#      - run: echo "${{ secrets.SSH_PUBLIC_KEY }}" >> ~/.ssh/id_rsa.pub && chmod 600 ~/.ssh/id_rsa.pub
#      - run: scp /home/runner/work/test_ci_odoo_sh/test_ci_odoo_sh/.github/odoo_install.py ${{ secrets.ODOOSH_INSTANCE_ID }}@${{ secrets.ODOOSH_INSTANCE_NAME }}.dev.odoo.com:/tmp/odoo_install.py
#      - run: ssh ${{ secrets.ODOOSH_INSTANCE_ID }}@${{ secrets.ODOOSH_INSTANCE_NAME }}.dev.odoo.com 'cat /tmp/odoo_install.py | odoo-bin shell --no-http'

