name: Odoo.sh Deploy
on: [push]
jobs:
  Odoo-SH-Wait-Restart:
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name }}
    steps:
      - name: Wait Odoo.Sh restart instance
        uses: halgandd/odoo-sh-wait-restart@51c38d48ce3be29f147556cf4f662523265d7591
        env:
          INSTANCE_NAME: '${{secrets.ODOOSH_INSTANCE_NAME}}'
          PRIVATE_KEY: '${{secrets.SSH_PRIVATE_KEY}}'

  Odoo-SH-Update-All:
    needs: Odoo-SH-Wait-Restart
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name }}
    steps:
      - name: Update All
        uses: halgandd/odoo-sh-update-all@38f6fb55d6ccc0c4c243094fce5034519edcf356
        env:
          INSTANCE_NAME: '${{secrets.ODOOSH_INSTANCE_NAME}}'
          PRIVATE_KEY: '${{secrets.SSH_PRIVATE_KEY}}'

  Odoo-SH-Shell:
    needs: Odoo-SH-Update-All
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Odoo Shell Init
        uses: halgandd/odoo-sh-shell@bad811b80da7d68d331fcd69151497004079078d
        with:
          script: .github/odoo_init.py
        env:
          INSTANCE_NAME: '${{secrets.ODOOSH_INSTANCE_NAME}}'
          PRIVATE_KEY: '${{secrets.SSH_PRIVATE_KEY}}'
      - name: Odoo Shell Install
        uses: halgandd/odoo-sh-shell@bad811b80da7d68d331fcd69151497004079078d
        with:
          script: .github/odoo_install.py
        env:
          INSTANCE_NAME: '${{secrets.ODOOSH_INSTANCE_NAME}}'
          PRIVATE_KEY: '${{secrets.SSH_PRIVATE_KEY}}'




