name: Odoo.sh Deploy
on: [push]
jobs:
#  Odoo-SH-Update-All:
#    runs-on: ubuntu-latest
#    environment: ${{ github.ref_name }}
#    steps:
#      #ssh-keygen -q -N "" -o -f ./github.private.key -t rsa -b 2048 -C "odoo@odoo.sh"
#      - run: echo '${{ secrets.ODOOSH_INSTANCE_NAME }}'
#      - run: mkdir -p ~/.ssh
#      - run: ssh-keyscan -H ${{ secrets.ODOOSH_INSTANCE_NAME }}.dev.odoo.com >> ~/.ssh/known_hosts
#      - run: echo "${{ secrets.SSH_PRIVATE_KEY }}" >> ~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa
#      - run: ssh ${{ secrets.ODOOSH_INSTANCE_ID }}@${{ secrets.ODOOSH_INSTANCE_NAME }}.dev.odoo.com 'odoo-bin -u all --i18n-overwrite --no-http --stop-after-init'

  Odoo-SH-Install-Modules:
#    needs: Odoo-SH-Update-All
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name }}
    steps:
      #ssh-keygen -q -N "" -o -f ./github.private.key -t rsa -b 2048 -C "odoo@odoo.sh"
      - run: echo '${{ secrets.ODOOSH_INSTANCE_NAME }}'
      - run: mkdir -p ~/.ssh
      - run: ssh-keyscan -H ${{ secrets.ODOOSH_INSTANCE_NAME }}.dev.odoo.com >> ~/.ssh/known_hosts
      - run: echo "${{ secrets.SSH_PRIVATE_KEY }}" >> ~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - run: cat /home/runner/work/test_ci_odoo_sh/test_ci_odoo_sh/.github/odoo_shell.py
      - run: scp /home/runner/work/test_ci_odoo_sh/test_ci_odoo_sh/.github/odoo_shell.py \
                ${{ secrets.ODOOSH_INSTANCE_ID }}@${{ secrets.ODOOSH_INSTANCE_NAME }}.dev.odoo.com:/tmp/odoo_shell.py
      - run: ssh ${{ secrets.ODOOSH_INSTANCE_ID }}@${{ secrets.ODOOSH_INSTANCE_NAME }}.dev.odoo.com \
                  'cat /tmp/odoo_shell.py | odoo-bin shell --no-http'