name: Odoo.sh Deploy
on: [push]
jobs:
  Odoo-SH-Update-All:
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name }}
    steps:
      - name: Update All
        uses: halgandd/odoo-sh-update-all@ffda53f8dae3d8aa44ca5880526fcbf2605e5788
        with:
          instance_name: ${{ secrets.ODOOSH_INSTANCE_NAME }}
          private_key: ${{ secrets.SSH_PRIVATE_KEY }}

#  Odoo-SH-Update-All:
#    runs-on: ubuntu-latest
#    environment: ${{ github.ref_name }}
#    steps:
#      #ssh-keygen -q -N "" -o -f ./github.private.key -t rsa -b 2048 -C "odoo@odoo.sh"
#      - run: echo '${{ secrets.ODOOSH_INSTANCE_NAME }}'
#      - run: mkdir -p ~/.ssh
#      - run: ssh-keyscan -H ${{ secrets.ODOOSH_INSTANCE_NAME }}.dev.odoo.com >> ~/.ssh/known_hosts
#      - run: echo "${{ secrets.SSH_PRIVATE_KEY }}" >> ~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa
#      - run: echo "${{ secrets.SSH_PUBLIC_KEY }}" >> ~/.ssh/id_rsa.pub && chmod 600 ~/.ssh/id_rsa.pub
#      - run: ssh ${{ secrets.ODOOSH_INSTANCE_ID }}@${{ secrets.ODOOSH_INSTANCE_NAME }}.dev.odoo.com 'odoo-bin -u all --i18n-overwrite --no-http --stop-after-init'

#  Odoo-SH-Init:
##    needs: Odoo-SH-Update-All
#    runs-on: ubuntu-latest
#    environment: ${{ github.ref_name }}
#    steps:
#      - uses: actions/checkout@v3
#        with:
#          fetch-depth: 1
#      - run: echo '${{ secrets.ODOOSH_INSTANCE_NAME }}'
#      - run: mkdir -p ~/.ssh
#      - run: ssh-keyscan -H ${{ secrets.ODOOSH_INSTANCE_NAME }}.dev.odoo.com >> ~/.ssh/known_hosts
#      - run: echo "${{ secrets.SSH_PRIVATE_KEY }}" >> ~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa
#      - run: echo "${{ secrets.SSH_PUBLIC_KEY }}" >> ~/.ssh/id_rsa.pub && chmod 600 ~/.ssh/id_rsa.pub
#      - run: scp /home/runner/work/test_ci_odoo_sh/test_ci_odoo_sh/.github/odoo_init.py ${{ secrets.ODOOSH_INSTANCE_ID }}@${{ secrets.ODOOSH_INSTANCE_NAME }}.dev.odoo.com:/tmp/odoo_init.py
#      - run: ssh ${{ secrets.ODOOSH_INSTANCE_ID }}@${{ secrets.ODOOSH_INSTANCE_NAME }}.dev.odoo.com 'cat /tmp/odoo_init.py | odoo-bin shell --no-http'

#  Odoo-SH-Install-Modules:
#    needs: Odoo-SH-Init
#    runs-on: ubuntu-latest
#    environment: ${{ github.ref_name }}
#    steps:
#      - uses: actions/checkout@v3
#        with:
#          fetch-depth: 1
#      - run: echo '${{ secrets.ODOOSH_INSTANCE_NAME }}'
#      - run: mkdir -p ~/.ssh
#      - run: ssh-keyscan -H ${{ secrets.ODOOSH_INSTANCE_NAME }}.dev.odoo.com >> ~/.ssh/known_hosts
#      - run: echo "${{ secrets.SSH_PRIVATE_KEY }}" >> ~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa
#      - run: echo "${{ secrets.SSH_PUBLIC_KEY }}" >> ~/.ssh/id_rsa.pub && chmod 600 ~/.ssh/id_rsa.pub
#      - run: scp /home/runner/work/test_ci_odoo_sh/test_ci_odoo_sh/.github/odoo_install.py ${{ secrets.ODOOSH_INSTANCE_ID }}@${{ secrets.ODOOSH_INSTANCE_NAME }}.dev.odoo.com:/tmp/odoo_install.py
#      - run: ssh ${{ secrets.ODOOSH_INSTANCE_ID }}@${{ secrets.ODOOSH_INSTANCE_NAME }}.dev.odoo.com 'cat /tmp/odoo_install.py | odoo-bin shell --no-http'

